name: flutter_material_color_picker
description: Material color picker with some possible customizations for Flutter apps
version: 1.1.0
homepage: https://github.com/Pyozer/flutter_material_color_picker

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
